
<div style="width: 500px; height: 500px; left: 30%; margin-top:5%; text-align: center; position: absolute;">
   <iframe width="560" height="315" src="https://www.youtube.com/embed/0rtV5esQT6I?autoplay=1" frameborder="0" allowfullscreen ></iframe>
    <div style="dispaly: table-cell; vertical-align: middle;">
        
        </br><a href="mmm">내가 통과한다</a>
        </br>1.멋사의 나이
        </br><p><%= @ar %></p>
        2. 1번에 나이 2개 추가 후 나이 낮은 순으로 정렬
        </br><p><%= @br %></p>
        현재 <%= @cur.year %>년 <%= @cur.month %>월 <%= @cur.day %>일 <%= @cur.hour %>시 <%= @cur.min %>분 <%= @cur.sec %>초입니다.
    </div>
</div>
